.ui-pnotify-sticker{
    display: none !important;
}
.alert-success {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;}
.btn-bs-file{position:relative;}
.btn-bs-file input[type="file"]{ position: absolute; top: -9999999;filter: alpha(opacity=0);opacity: 0;width:0;height:0;outline: none;cursor: inherit;}
.line_box{ border: 1px solid #0089DA; padding: 20px;}
.btn-primary { background-color: #0089DA; border-color: #0089DA;}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover { background-color: #286090; border-color: #204d74; }
.content-header { background: #fcfcfc !important; border: 1px solid #ddd; margin: 15px; padding:10px; border-radius: 4px; margin-bottom:2px}
.gap-bottom{ margin-bottom:15px;}
.gap-top{ margin-bottom:15px;}
.gap-top-bottom{ margin-top:15px; margin-bottom:15px; }
div#message-list_length { margin: 15px;}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a { color: #fff;background: #3c8dbc; border-color: #3c8dbc; }
.skin-blue .sidebar a { color: #fff;}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side { background-color: #1E282C;}
.skin-blue .user-panel > .info, .skin-blue .user-panel > .info > a { color: #fff; }
#formresponse { width: auto; display: inline-block;}
.formresponse { width: auto; display: inline-block;}
#editformresponse{ width: auto; display: inline-block;}
.content-header > .breadcrumb {top: 5px; }
.skin-blue .main-header .navbar { background-color: #182d3e;}
.skin-blue .main-header .logo { background-color: #182d3e;}
.customUpload span { font-size:15px; }
.customUpload { margin-left: 0px;}
.form-grou label { display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: 700; font-size: 13px; }
#ViewModal .modal.modal-wide .modal-dialog { width: 50%;}
/* .box-footer .line_box .col-md-12 label.btnM { font-size: 16px; color: #fff;} */
form#TeacherEditForm .line_box .col-md-12 .text-center .btnM { font-size: 13px; }
.box-info .box-footer .btn-success { background-color: #0089da; border-color: #0089da;}
/* .box-info .box-footer .btn-default { background-color: #0089DA; border-color: #0089DA; color:#fff;} */
.box-info .box-footer .btn-default:hover {background-color: #0089DA; border-color: #0089DA; border-color: #0089da; color:#fff; }
.small-box .icon { font-size: 68px; display: inline-block;}
.small-box .icon:hover { font-size: 68px; }
.small-box > .inner { padding: 15px;}
.small-box p { font-size: 15px;  margin: 0px;}
.small-box h3 { margin: 0 0 18px 0; }
.box-title{ margin-top:5px; }
label#Name-error { margin-bottom: 0px;}
.sidebar{
	overflow-y: auto !important;
}
.sidebar::-webkit-scrollbar, .mainchatWrap::-webkit-scrollbar {
    width: 10px;
}

.sidebar::-webkit-scrollbar-track, .mainchatWrap::-webkit-scrollbar-track {
    background: #222;
}

.sidebar::-webkit-scrollbar-thumb, .mainchatWrap::-webkit-scrollbar-thumb {
    background: #3C8DBC;
    opacity:0.6;
    
}
.time-action{
	
	margin-left: 20px;
}
.gap-all{
	padding-left: 20px;
}
.icn-gap{
	padding: 10px;
}
.all_btn_setting{
	    padding: 5px !important;
    margin-top: 25px !important;
}
.text-gray{
    color: grey !important;
}
.size-machine{
    width: 65% !important;
}
.SubjectDeleteBt { vertical-align: top;
    display: inline-block}
/* Bharatdan Gadhavi - Start - 28th Feb 2018*/
.class-selection {
    max-height: 130px;
    overflow-y: auto;
}
.class-line {
    margin: 0;
    list-style: none;
    padding-left: 0;
}
/* Bharatdan Gadhavi - End */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
.update-btn{ margin-top: 10px; }
.btn-pro.button-group .dropdown { padding-left: 0px !important; padding-right: 5px; margin-bottom: 3px; margin-top: 8px;}
div.dataTables_length label { width: 100%; }
.box box-info .box-body .float-left { float: none;}
.box-body .float-left { float:none; width: 100%;}
.gap-bottom-small{
    margin-bottom: 10px;
}
.size-machine{
    width: 100% !important;
}
}





/* .box-info .box-header .float-left .class-filter select { float: left; width: 38%; }
.box-info .box-header .class-filter .float-right .wp-edit-timetable .fa-pencil {  padding: 10px 12px 10px 12px; margin-right: 4px; margin-left: 2px; }
.box-info .box-header .class-filter .float-right .wp-delete-timetable .fa-trash { padding: 10px 12px 10px 12px; margin-right: 4px; margin-left: 2px;}
table #exam_class_table tbody tr td a.btn{ float:left;}
.col-md-3 .img-circle { margin: auto; display: block; }
.off-dates {
    display: inline-block;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-left: 15px;
} */




@media only screen and (max-width: 767px) {
#teacher_table_wrapper{ }
.box-title { margin-top: 12px; margin-bottom: 12px;}
section.content-header h1{ margin-bottom:15px; }
a.sidebar-toggle .gap-academicyear { width: 80%;}
.main-footer { text-align: center; padding-bottom:20px;}
div.dataTables_paginate ul.pagination { margin-bottom: 10px; }
.mailbox-header .wpsp-mail-title h2 { margin-bottom: 10px; }
#student_table tbody tr td a.ViewStudent, a.viewAttendance { margin-bottom: 10px; display: inline-block;}
table #class_table tbody tr.pointer td a { margin-bottom:10px; }
.main-footer { padding: 0px 15px 15px 15px; }
div.dataTables_filter { text-align: left;}
#student_table_paginate.dataTables_paginate { white-space: nowrap; text-align: center; margin-bottom:10px; }
.button-group .btn-pro.button-group .dropdown { padding-left: 0px; }
.modal.modal-wide .modal-dialog { width: 95% !important;  margin: auto;}
section.content-header h1 { font-size: 18px; }
.content-header > .breadcrumb { top: 0px; }
.main-footer { padding: 0px 15px 5px 15px;}
.panel-info .panel-body .img-circle { margin: auto; display: inherit;}
.box-footer .line_box .col-md-12 label.btnM { display: inline-block;  width: 100%;}
.no-padding{ padding:0px;}
.dataTables_length label { margin-top: 10px;}
.box-info .box-body{ margin-top: 15px;}
.ViewTeacher { margin-bottom: 10px; display: inline-block;}
div.dataTables_filter label { width: 100%;}
div.dataTables_filter input { width: 86%;}
form.class-filter select { float: left; margin-bottom:10px;  }
tr td a.btn-warning { margin-bottom: 10px; }
.ViewParent {  margin-bottom: 10px; display: inline-block;}
.class-filter{ display:inline-block; width:100%; }
a.add-parent { margin-bottom:15px; }
/* .text-right .btn-primary { margin-right: 5px;} */
.box-footer .btn-info { margin-right: 15px; }
.add-parent-btn { width: 100%; margin-top: 10px; display: inline-block; text-align: center;}


.change-password { float:none; }
.ui-tooltip { z-index:0; }
.panel-info { z-index:1px; }
.viewMess { margin-bottom: 10px; display: block; }
.add-teacher-btn{ margin-bottom:10px !important; margin-top:10px !important; margin-right: 10px !important; }
.edit-btn, .notify-view, .ViewTrans, .EditTrans { margin-bottom:10px; display: inline-block;}

.gap-all { padding-left:0px; }

}


@media only screen and (max-width: 1366px) {

.edit-btn, .notify-view, .ViewTrans, .EditTrans {
    margin-bottom:10px;
    
}


}
.remove-inp{
    cursor: pointer;
}
.remove-inp:hover{
    background-color: #afbdd3;
}
#FeesDepositForm sup{
    color: red;
}
#FeesDepositForm .form-inline .form-group{
    width: 49.4%;
}
#FeesDepositForm .form-inline .form-group label{
    font-size: 10px;
}
#fees-inp{
    padding: 8px 0 8px 0;
}
.invoice-header-logo-name .invoice-header-logo{
    text-align: center;
}
.invoice-header-logo-name .invoice-header-name{
    text-align: center;
   }
.invoice-header-logo-name .invoice-header-name h2{
    font-family: Impact, Charcoal, sans-serif;
}
.invoice-header-school-details{
    text-align: center;
    position: relative;
 }
.invoice-header-school-details b{
    font-size: 20px;
}
.invoice-header-slip-no, .invoice-header-date{
    margin-top: 15px;
}
.invoice-header-slip-no, .invoice-header-date{
    height: 30px;
}
.invoice-header-slip-no div, .invoice-header-date div{
    width: 77.5%;
    border-bottom: 1px dotted #000;
    height: 15px;
    float: right;
    text-align: center;
    font-size: 20px;
    height: 25px;
}
.invoice-header-slip-no strong, .invoice-header-date strong{
    width: 22%;
    float: left;
    height: 25px;
    padding-top: 5px;
    text-align: right;
}
.b1:after, .b2:after, .b3:after, .b4:after, .b5:after, .b6:after, .b7:after{
    content: '';
    display: table;
    clear: both;
}
.blank div{
    border-bottom: 1px dotted #000;
    float: right;
    padding-left: 5px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
}
.blank strong{
    float: left;
    height: 30px;
    padding-top: 10px;
}
.b1 strong{
    width: 5%;
}
.b1 div{
    width: 95%;
}

.b2 strong{
    width: 12%;
}
.b2 div{
    width: 88%;
}


.b3 .sb1, .b4 .sb1, .b5 .sb1, .b6 .sb1{
    float: left;
    width: 50%;
    height: 30px;
    border: none;
    padding: 0;
    text-align: left;
}
.b3 .sb2, .b4 .sb2, .b5 .sb2, .b6 .sb2{
    float: right;
    width: 49.5%;
    height: 30px;
    border: none;
    padding: 0;
    text-align: left;
}
.b3 .sb1 strong{
    width: 14%;
}
.b3 .sb1 div{
    width: 86%;
}
.b3 .sb2 strong{
    width: 14%;
}
.b3 .sb2 div{
    width: 86%;
}

.b4 .sb1 strong{
    width: 20%;
}
.b4 .sb1 div{
    width: 80%;
}
.b4 .sb2 strong{
    width: 18%;
}
.b4 .sb2 div{
    width: 82%;
}

.b5 .sb1 strong{
    width: 17%;
}
.b5 .sb1 div{
    width: 83%;
}
.b5 .sb2 strong{
    width: 25%;
}
.b5 .sb2 div{
    width: 75%;
}

.b6 .sb1 div{
    width: 68%;
}
.b6 .sb2 div{
    width: 60%;
}

.b7{
    margin-bottom: 20px;
}
.b7 .d1{
    width: 65%;
}
.b7 .d2{
    width: 25%;
}

.invoice-body table{
    width: 100%;
}
.invoice-body table tr { 
    border: none; 
}
.invoice-body table td {
  border-right: solid 1px #000; 
  border-left: solid 1px #000;
  font-weight: 700;
  padding: 10px;
}
.tab-head{
    background-color: #000 !important;
    color: #fff !important;
    font-weight: 900;
    text-align: center;
}
.tab-head td{
    padding: 10px;
}
.inv-tab-bottom td{
    border: 1px solid #000;
}
.invoice-header-heading{
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    background-color: #000;
}
.invoice-header-heading div{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 25px;
}
.inv-tab-bottom{
    text-align: center;
}
.dep-adm-inp, .dep-tf-inp, .dep-tc-inp, .dep-ac-inp, .dep-rf-inp, .adm-fees-tr-inv, .tution-fees-te-inv, .trans-chg-tr-inv, .annual-chg-tr-inv, .rec-chg-tr-inv, .inv-tab-bottom{
    display: none;
}
.btn-print{
    float: right;
    position: relative;
    top: -8px;
    display: none;
}
#fees-details table, #due-fees-details table{
    width: 100%;
    text-align: center;
}
#due-fees-details table{
    color: #DD4B39;
}
#fees-details table tr, #due-fees-details table tr{
    border: 1px solid;
}
#fees-details .fees-single-row:hover{
    background-color: lightgrey;
    cursor: pointer; 
}
.detailed-transaction{
    width: 100%;
}
.detailed-transaction td{
    border-bottom: 1px solid #000;
}
.due-chart-container{
    height: 200px;
    width: 350px;
    border: 1px solid #000;
    position: absolute;
    right: 0;
    top: 35px;
    font-size: 14px;
    box-shadow: 4px 2px 10px 0px #000;
    display: none;
    border-radius: 5px;
    background-color: #fce5f4;
    color: #D63C25;
    overflow-x: hidden;
    overflow-y: scroll; 
}
.due-chart-container table{
    width: 100%;  
    text-align: center;
}
.due-chart-container table td, .due-chart-container table th{
    text-align: center;
}
.due-chart-container table tr{
    border-bottom: 1px solid; 
}
/* width */
.due-chart-container::-webkit-scrollbar, .fee-records-container .panel-body::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.due-chart-container::-webkit-scrollbar-track, .fee-records-container .panel-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
.due-chart-container::-webkit-scrollbar-thumb, .fee-records-container .panel-body::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}

/* Handle on hover */
.due-chart-container::-webkit-scrollbar-thumb:hover {
    background: #D63C25; 
}
.due-chart-container::-webkit-scrollbar-thumb:hover{
    background: #1E6EB5;
}
.fee-records-container .panel-body{
    padding: 0;
    max-height: 250px;
    overflow-y: scroll;
}

/*Bootstrap switch for transport in student form*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.detailed-transaction .concession-tr{
    color: #F44336;
}

.col-print-1 {width:8%;  float:left;}
.col-print-2 {width:16%; float:left;}
.col-print-3 {width:25%; float:left;}
.col-print-4 {width:33%; float:left;}
.col-print-5 {width:42%; float:left;}
.col-print-6 {width:50%; float:left;}
.col-print-7 {width:58%; float:left;}
.col-print-8 {width:66%; float:left;}
.col-print-9 {width:75%; float:left;}
.col-print-10{width:83%; float:left;}
.col-print-11{width:92%; float:left;}
.col-print-12{width:100%; float:left;}
@media print{
    .invoice-prev{
         -webkit-print-color-adjust: exact !important;
    }
    .tab-head td{
        color: #fff !important;
    }
    .b3 .sb2 strong{
        width: 16%;
    }
    .b3 .sb2 div{
        width: 84%;
    }

    .b4 .sb1 strong{
        width: 22%;
    }
    .b4 .sb1 div{
        width: 78%;
    }
}
 @media only screen and (max-width: 1480px){
    .b4 .sb1 strong {
        width: 22%;
    }
    .b4 .sb1 div {
        width: 78%;
    }
    .b3 .sb2 strong{
        width: 16%;
    }
    .b3 .sb2 div{
        width: 84%;
    }
 }
  @media only screen and (max-width: 1370px){
    .invoice-header-slip-no strong, .invoice-header-date strong{
        width: 28%;
    }
    .invoice-header-slip-no div, .invoice-header-date div{
        width: 71.5%;
    }
    .invoice-header-heading div{
        font-size: 18px;
    }
    .invoice-header-slip-no, .invoice-header-date{
        margin-top: 4px;
    }
    .b3 .sb1 strong{
        width: 19%;
    }
    .b3 .sb1 div{
        width: 81%;
    }
    .b4 .sb1 strong{
        width: 26%;
    }
    .b4 .sb1 div{
        width: 74%;
    }
    .b2 strong{
        width: 14%;
    }
    .b2 div{
        width: 86%;
    }
    .b6 .sb1 div {
        width: 65%;
    }
    .b6 .sb2 div {
        width: 56%;
    }
    .b7 .d2 {
        width: 23%;
    }
    .b7 .d1 {
        width: 63%;
    }
  }
  @media only screen and (max-width: 1350px){
    .invoice-header-logo-name .invoice-header-name h2{
        font-size: 25px;
    }
  }

@media only screen and (max-width: 1280px){
    .b2 strong{
        width: 15%;
    }
    .b2 div{
        width: 85%;
    }
    .b3 .sb2 strong{
        width: 20%;
    }
    .b3 .sb2 div{
        width: 80%;
    }
    .b4 .sb2 strong{
        width: 22%;
    }
    .b4 .sb2 div{
        width: 78%;
    }
    .b4 .sb1 strong{
        width: 28%;
    }
    .b4 .sb1 div{
        width: 72%;
    }
    .invoice-header-slip-no strong, .invoice-header-date strong{
        width: 32%;
    }
    .invoice-header-slip-no div, .invoice-header-date div{
        width: 68%;
    }
    #FeesDepositForm .form-inline .form-group{
        width: 49.2%;
    }
}




.pg{
    margin: 20px;
}
.pg table{
    width: 100%;
    background-color: #fff;
}
.pg table td{
    padding: 10px;
    font-size: 16px;
}
.pg .details tr td:nth-child(odd){
    font-weight: 900;
}

.pg .dues-chart tr:nth-child(1){
    border-bottom: 3px solid;
    font-weight: 900;
}
.pg .dues-chart tr:last-child{
    border-top: 3px solid;
    font-weight: 700;
    text-align: center;
}
.due-chart-head, .pay-btn{
    float: left;
}
.pay-btn{
    margin: 15px;
}
.op-thankyou a{
    color: #c0392b;
}



.add-inv-from table, .add-inv-from table textarea{
    width: 100%;
}
.add-inv-from table textarea{
    height: 80px;
}
.add-inv-from table tr td{
    padding: 10px;
}
.add-inv-from table tr td a, .add-inv-from table tr td button{
    float: right;
}
.inv-reas-info{
    font-size: 12px;
    color: red;
}



.visitor-list-container #visitors_table_wrapper{
    padding: 20px;
}
.visitor-search-container{
    display: flex;
    padding: 1px;
    justify-content: center;
}
.visitor-search-container input{
    width: 40%;
}
.visitor-suggestions{
    position: absolute;
    background-color: #ffffff;
    width: 40%;
    top: 126px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 12px;
    z-index: 10;
    box-shadow: 3px 4px 10px 1px #000;
}
.visitor-suggestions table, .visitor-info-popup table{
    width: 100%;

}
.visitor-suggestions table tr td{
    padding: 5px;
}
.visitor-single-row:hover{
    cursor: pointer;
    background-color: #182D3E;
    color: #fff;
}

.visitor-info-popup table tr td{
    padding: 10px
}
.setup-warnings{
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 9999;
    max-width: 500px;
}
.setup-warnings div{
    background-color: #FCF8E3!important;
    color: #8A6D3B!important;
    border-radius: 5px; 
}

.setup-warnings .alert-info{
    background-color: #D9EDF7!important;
    color: #31708F!important;
}







